<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>
      Image Search Abstraction Layer
    </h1>
    <h3>Search images:</h3>
    <h4>(offset is optional)</h4>
    <code>https://fcc-astro-image-search-abstraction-layer.glitch.me/api/imagesearch/<span style="color: red">YourSearchTerms</span><span style="color: blue">?offset=ThePageNumberYouWant</span></code>
    
    <h3>Latest terms searched :</h3>
    <code>https://fcc-astro-image-search-abstraction-layer.glitch.me/api/latest</code>
  </body>
</html>
